body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url("img/8891c3d40bb9.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    font-size: 14px;
    font-family: 'Artifakt',sans-serif;
}
body a {
    text-decoration: none;
}
body a:visited {
    text-decoration: none;
}
body h1 {
    color: white;
    text-align: center;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(39,47,51, 0.8);
}
#headerTop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f5f5;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
    z-index: 999;
}

.logo {
    color: cornflowerblue;

}
.logo a {
    text-decoration: none;
    color: cornflowerblue;
}
.logo a:visited {
    text-decoration: none;
    color: cornflowerblue;
}
.logo p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
}
.logo i{
    padding: 0 15px 0 0;
    font-size: 30px;
}
.menu {
    margin: 0 100px;
}
.menu div {
    display: inline-block;
    padding: 0 35px;
    border-right: 1px solid #dadada;
}
.menu div:hover {
    cursor: pointer;
    background-color: #eee;
}
.menu a, #headerContact {
    color: #888;
}
#headerContact {
    font-weight: bolder;
    margin-top: 5px;
}
#headerContact p {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0;
}
#headerCenterText {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    color: white;
}
#headerCenterText div {
    max-width: 600px;
}
#headerCenterText div h1 {
    font-size: 34px;
}
#headerCenterText div h3 {
    color: cornflowerblue;
}
#headerCenterText div p {
    font-size: 19px;
}
#headerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
}
#headerBottom .fa-chevron-down {
    display: flex;
    justify-content: center;
    opacity: 1;
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    animation: arrow 2s infinite;
}
#motivation {
}
#motivation div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.6);
    min-height: 250px;
    min-width: 150px;
    margin-left: 60px;
    color: white;
    font-size: 21px;
}
#motivation #serv {
    z-index: 1;
}
#motivation #comp {
    margin: 130px 0 0 190px;
    z-index:  2;
}
#motivation #eq {
    margin: 330px 0 0 100px;
    z-index: 3;
}

#motivation i {
    font-size: 30px;
}
#motivation a {
    text-decoration: none;
    color: cornflowerblue;
    font-size: 12px;
}
.company {
    display: flex;
    flex-direction: column;
    background-color: rgb(255,255,255);
    padding: 60px 0 60px 0;
}
.company div strong {
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.company #bisness {
    display: flex;
    justify-content: center;
    align-items: center;
}
.company #bisness div{
    padding: 15px;
    border: 1px;
}
.company #bisness div .fa-2x{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
animation: show 6s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 1s; /* Задержка перед началом */
}
.company #bisness div .fa-5x{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
animation: show 6s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 2s; /* Задержка перед началом */
}
.company #bisness div .fa-8x{
opacity:0; /*Элемент полностью прозрачный (невидимый)*/
animation: show 6s 1; /* Указываем название анимации, её время и количество повторов*/
animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
animation-delay: 3s; /* Задержка перед началом */
}
.company #bisness div {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}
.outsourcing {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    padding: 80px 0 80px 0;
}
.outsourcing div {
    padding: 5px 10px;
    margin: 15px;
    width: 1000px;
}
.outsourcing div p {
    margin-left: 15px;
}
#skills {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255, 0.7);
    padding: 100px 0 100px 0;
    background-color: rgba(0,100,104,0.4);
}
#skills div {
    border: rgba(255,255,255,0.1) solid 2px;
    border-radius: 10px;
    background-color: rgba(0,100,104,1);
    color: white;
;
}
#skills div:hover {
    box-shadow: 0 0 10px black;
}
#skills div strong p {
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
#skills li {
    list-style: none;
    margin: 10px 20px 0 0;
}
#skills li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    padding: 0 5px;
    color: red;
}
.slider1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/solution-implementation1.jpg");
    min-height: 500px;
}
.slider1 p {
    font-size: 50px;
    color: white;
}
#price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background-color: cadetblue;
    color: white;
}
.aboutUs {
    background-color: #dde0e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
}
.aboutUs #aboutUsText p{
    text-align: center;
    margin: 0;
}
.aboutUs #aboutUsText strong p {
    margin-bottom: 30px;
}
.aboutUs #bisness {
    display: flex;
}
.aboutUs #bisness div {
    padding: 0 50px;
}
.aboutUs div { margin: 20px 0}
.aboutUs div strong {
    text-transform: uppercase;
    font-size: 25px;
}
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 200px;
    background-color: rgba(39,47,51, 0.9);
    margin: 0 0 25px 0;
}
#footer .logo {
    text-transform: uppercase;
}
#footer li {
    display: flex;
    align-items: center;
}
#contacts li p {
    margin: 0;
    padding: 0 0 0 10px;
}
#contacts {
    font-size: 13px;
    color: white;
}
#contacts li{
    list-style: none;
}
@keyframes arrow {
    0% {
        color: greenyellow;
    }
    100% {
        padding: 15px;
        color: orangered;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader_inner {
    background-image: url(svg/Spinner-1s-200px.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.slider {
    position: relative;
    overflow: hidden;
    background-color: rgb(255,255,255);
    padding: 40px 0 50px 0;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.9s ease;
    align-items: center;
}

.slider__item {
    display: flex;
    justify-content: center;
    flex: 0 0 33.333333%;
    max-width: 44.333333%;
}
.slider__item img {
    display: flex;
    height: 150px;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}
